doctype html
html
  head
    title InstaZVV
    meta charset='utf-8'
    meta content='width=device-width,initial-scale=1.0' name='viewport'
    link rel='stylesheet' href=asset_path('application.css') type='text/css'
  body
    form#search-container
      input#search-field type='text'
    ul#stations-list
    ul#departures-list
    script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'
    script src=asset_path('application.js')
