body {
  margin: 0;
  padding: 0;
  font: 18px/2.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form {
  text-align: center;
}

form input {
  margin: 0;
  font-size: inherit;
  text-align: center;
  width: 90%;
  box-sizing: border-box;
  height: 44px;

  &.error {
    color: red;
  }
}

#departures-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#departures-list {
  background: #eee;

  &.empty::after {
    content: 'No Data Available';
    display: block;
    text-align: center;
  }
}

#departures-list .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 44px;
  line-height: 44px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background: white;
}

#departures-list li {
  height: 44px;
  position: relative;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #ddd;
}

#departures-list .direction, #departures-list .status {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  padding-left: 54px;
  padding-right: 65px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#departures-list .direction {
  line-height: 44px;
}

#departures-list .status ~ .direction {
  line-height: 26px;
}

#departures-list .status {
  line-height: 18px;
  top: 22px;
  font-size: 14px;
  font-style: italic;
  color: gray;
}

#departures-list .time {
  position: absolute;
  right: 10px;
  font-weight: bold;
}

#departures-list .time.delayed {
  color: red;
}

#departures-list .countdown {
  position: absolute;
  right: 10px;
  display: none;
  font-weight: bold;
}

#departures-list .countdown::before {
  content: "'";
}

#departures-list.countdown .countdown {
  display: inline;
}

#departures-list.countdown .time {
  display: none;
}

