#stations-list {
  @extend %reset-list;
}

.station {
  @extend %overflow-ellipsis;

  padding: 0 5%;
  text-align: center;
  border-bottom: 1px solid #ccc;

  a {
    display: block;
  }

  &.selected {
    background: hsl(217, 98%, 94%);
  }
}
